# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/src/scenes/auth/TestPiece.jsx
/src/components/Sidebar.jsx
/src/components/WeeklyBox.jsx
/src/scenes/auth/Welcome.jsx
/src/scenes/habits/OldHabit.jsx
/src/state/apiSlice.js

package-lock.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
