@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Libre+Baskerville:wght@700&family=Limelight&family=Montserrat:ital,wght@0,400;0,600;1,400&family=Playfair:wght@400;500;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  /* font-family: "Roboto Mono", sans-serif */
}

.gradient-background {
  background: linear-gradient(to left bottom, #16b0d4, #79fac5);
  background-size: 120% 120%;
  animation: gradient-animation 3s ease infinite;
}

.gradient-background2 {
  background: linear-gradient(to right top, #16b0d4, #79fac5);
  background-size: 120% 120%;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rotate {
  transform: rotateY(180deg);
}

.hide {
  display: none;
}

.valid {
  color: rgb(8, 108, 8);
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.success {
  background-color: rgb(182, 255, 215);
  color: rgb(34, 178, 60);
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

/* https://itecnote.com/tecnote/css-how-to-achieve-this-bevel-button-in-css/ */

.bevel-button {
  display: inline-block;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 14px;
  position: relative;
}

.bevel-button:before,
.bevel-button:after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  right: 2px;
  height: 3px;
}
.bevel-button:before {
  top: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.6);
}
.bevel-button:after {
  bottom: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15);
}


.react-calendar {
  width: 750px;
  max-width: 100%;
  background: rgb(52, 26, 23);
  border: 1px solid #3c2521;
  font-family: Montserrat, sans-serif;
  line-height: 2.125em;
 
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 54px;
  margin-bottom: 1em;
  
}

/* navigation color */
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: #e6e6e6;
  font-family: inherit;
}

.react-calendar__navigation button:disabled {
  background-color: #e33e3e;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #561c1c;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
  
}

.react-calendar__month-view__days__day{
  color:#e0e5e9
}

.react-calendar__month-view__days__day--weekend {
  color: #808f8f;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #8b7d7b;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #dcceb8;
}

.react-calendar__tile--now {
  background: #c7baa6;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #837c6e;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #667978;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #001f1e;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}